
<div id="home">

    <div id="who-i-am">
        <div class="profile-info">
            <div class="profile-photo">
                <img src="{{metaTags.getPageHost()}}assets/img/profile-image.jpg" alt="Asen Sokolov"/>
            </div>
            <h3>Asen Sokolov</h3>
            <h4>Web Developer - App Developer - Designer</h4>
            <p>Part of The Big Family of <a href="http://xec-studio.com" target="_blank" title="XEC-STUDIO">XEC-Studio</a></p>
            <a href="/about-me" title="View More About Me" class="btn-style-border">View More</a>
        </div>
        <div class="icons-cover-scroll-down-blue scroll-down-arrow"></div>
    </div>

    <div id="services">
        <div class="services-wrapper">
            <div class="section-title">
                <div class="title-wrapper">
                    <h4>Services</h4>
                    <div class="title-underline"></div>
                </div>
            </div>
            <div class="list">
                <div class="left-cont">
                    <div class="item" id="item-1">
                        <div class="item-icon icons-web-design"></div>
                        <div class="item-info">
                            <h6>WEB DESIGN</h6>
                            <p>Create simple and intuitive interfaces, to provide the best user experience.</p>
                        </div>
                    </div>
                    <div class="item" id="item-2">
                        <div class="item-icon icons-logo-design"></div>
                        <div class="item-info">
                            <h6>LOGO DESIGN</h6>
                            <p>Simple, clean and easy to understand visual message.</p>
                        </div>
                    </div>
                    <div class="item" id="item-3">
                        <div class="item-icon icons-social-apps"></div>
                        <div class="item-info">
                            <h6>FB APPs</h6>
                            <p>Boost your business with awesome Facebook Application and engage more people to follow your journey to success.</p>
                        </div>
                    </div>
                </div>
                <div class="right-cont">
                    <div class="item" id="item-4">
                        <div class="item-icon icons-web-development"></div>
                        <div class="item-info">
                            <h6>WEB DEVELOPMENT</h6>
                            <p>Build high quality responsive websites using best practices and advanced technologies.</p>
                        </div>
                    </div>
                    <div class="item" id="item-5">
                        <div class="item-icon icons-graphic-design"></div>
                        <div class="item-info">
                            <h6>GRAPHIC DESIGN</h6>
                            <p>Beautiful and creative promotional materials who will catch eye of every user.</p>
                        </div>
                    </div>
                    <div class="item" id="item-6">
                        <div class="item-icon icons-mobile-apps"></div>
                        <div class="item-info">
                            <h6>MOBILE APPs</h6>
                            <p>Conquer the mobile world with interactive and useful application</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="latest-projects">

        <div class="tabs">
            <ul data-ng-init="selectedTab = 1">
                <li data-ng-class="{active: selectedTab == 1}">
                    <a href data-ng-click="selectedTab = 1">LATEST PROJECTS</a>
                </li>
                <li data-ng-class="{active: selectedTab == 2}">
                    <a href data-ng-click="selectedTab = 2">CLIENTS</a>
                </li>
            </ul>
        </div>

        <div id="projects" data-ng-show="selectedTab == 1">
            <div class="col-1">
                <a href="{{homeData.projects[0].link}}" alt="{{homeData.projects[0].title}}" style="background: url('{{metaTags.getPageHost()}}{{homeData.projects[0].image}}') center center no-repeat;">
                    <div class="hover-layer">
                        <i>+</i>
                    </div>
                </a>
            </div>
            <div class="col-2">
                <div class="row-1">
                    <a href="{{homeData.projects[1].link}}" alt="{{homeData.projects[1].title}}" style="background: url('{{metaTags.getPageHost()}}{{homeData.projects[1].image}}') center center no-repeat;">
                        <div class="hover-layer">
                            <i>+</i>
                        </div>
                    </a>
                    <a href="{{homeData.projects[2].link}}" alt="{{homeData.projects[2].title}}" style="background: url('{{metaTags.getPageHost()}}{{homeData.projects[2].image}}') center center no-repeat;">
                        <div class="hover-layer">
                            <i>+</i>
                        </div>
                    </a>
                </div>
                <div class="row-2">
                    <a href="{{homeData.projects[3].link}}" alt="{{homeData.projects[2].title}}" style="background: url('{{metaTags.getPageHost()}}{{homeData.projects[3].image}}') center center no-repeat;">
                        <div class="hover-layer">
                            <i>+</i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clr"></div>
        </div>

        <div id="clients" data-ng-show="selectedTab == 2">
            <ul>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/exxon-logo.png" alt="Exxon Mobil" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/lg.png" alt="LG" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/visa.png" alt="Visa" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/hot-wheels.png" alt="Hot Wheels" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/kpmg.png" alt="KMPG" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/samsung.png" alt="Samsung" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/g2.png" alt="Gatorade" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/scotiabank.png" alt="Scotia Bank" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/bc.png" alt="Brand Creative" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/petro-canada.png" alt="Petro Canada" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/meridian.png" alt="Meridian" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/gibson.png" alt="Gibson" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/tm.png" alt="Taylor Made" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/canadian-tire.png" alt="Canadian Tire" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/pc.png" alt="President Choice" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/pixel-hunters.png" alt="Pixel Hunters" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/middle-east-talents-awards.png" alt="Middle East Talents Awards" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/civolution.png" alt="Civolution" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/aglika.png" alt="Aglika" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/jk-logo.png" alt="Julia Kontogruni" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/cappmea.png" alt="CAPP MEA" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/m2.png" alt="M2" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/di-foto-logo.png" alt="DIFOTO COMPANY" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/konutherm.png" alt="Konutherm" />
                </li>
                <li>
                    <img src="{{metaTags.getPageHost()}}assets/img/clients/infiniti.png" alt="Infiniti" />
                </li>
            </ul>
            <div class="clr"></div>
        </div>
    </div>

    <div id="latest-projects-mobile">
        <div class="section-title">
            <div class="title-wrapper">
                <h4>Latest Projects</h4>
                <div class="title-underline"></div>
            </div>
        </div>
        <a href="{{homeData.projects[0].link}}" alt="{{homeData.projects[0].title}}">
            <img ng-src="{{metaTags.getPageHost()}}{{homeData.projects[0].imageMobile}}" alt="{{homeData.projects[0].title}}"/>
        </a>
        <a href="{{homeData.projects[1].link}}" alt="{{homeData.projects[1].title}}">
            <img ng-src="{{metaTags.getPageHost()}}{{homeData.projects[1].imageMobile}}" alt="{{homeData.projects[1].title}}"/>
        </a>
        <a href="{{homeData.projects[2].link}}" alt="{{homeData.projects[2].title}}">
            <img ng-src="{{metaTags.getPageHost()}}{{homeData.projects[2].imageMobile}}" alt="{{homeData.projects[2].title}}"/>
        </a>
        <a href="{{homeData.projects[3].link}}" alt="{{homeData.projects[3].title}}">
            <img ng-src="{{metaTags.getPageHost()}}{{homeData.projects[3].imageMobile}}" alt="{{homeData.projects[3].title}}"/>
        </a>
    </div>

    <div id="workflow">
        <div class="section-title">
            <div class="title-wrapper">
                <h4>Workflow</h4>
                <div class="title-underline"></div>
            </div>
        </div>

        <div class="workflow-steps-desktop">
            <div class="line-h">
                <div class="line"></div>
            </div>
            <div class="step step-1 down">
                <div class="text">
                    Tell me About<br/>
                    Your Project
                </div>
                <div class="small-circle">1</div>
                <div class="line-v"></div>
                <div class="big-circle"></div>
            </div>
            <div class="step step-2 up">
                <div class="big-circle"></div>
                <div class="line-v"></div>
                <div class="small-circle">2</div>
                <div class="text">
                    Concepts, Ideas<br/>
                    and Flow
                </div>
            </div>
            <div class="step step-3 down">
                <div class="text">
                    Delivery of<br/>
                    Content
                </div>
                <div class="small-circle">3</div>
                <div class="line-v"></div>
                <div class="big-circle"></div>
            </div>
            <div class="step step-4 up">
                <div class="big-circle"></div>
                <div class="line-v"></div>
                <div class="small-circle">4</div>
                <div class="text">
                    Design and<br/>
                    Revisions
                </div>
            </div>
            <div class="step step-5 down">
                <div class="text">
                    Development,<br/>
                    Test and QA
                </div>
                <div class="small-circle">5</div>
                <div class="line-v"></div>
                <div class="big-circle"></div>
            </div>
            <div class="step step-6 up">
                <div class="big-circle"></div>
                <div class="line-v"></div>
                <div class="small-circle">6</div>
                <div class="text">
                    Project Goes<br/>
                    Live
                </div>
            </div>
        </div>

        <div class="workflow-steps-mobile">
            <div class="step step-1">
                <div class="text">
                    Tell me About Your Project
                </div>
                <div class="small-circle">1</div>
                <div class="line-v"></div>
                <div class="big-circle"></div>
                <div class="line-v"></div>
            </div>
            <div class="step step-2 up">
                <div class="text">
                    Concepts, Ideas and Flow
                </div>
                <div class="small-circle">2</div>
                <div class="line-v"></div>
                <div class="big-circle"></div>
                <div class="line-v"></div>
            </div>
            <div class="step step-3 down">
                <div class="text">
                    Delivery of Content
                </div>
                <div class="small-circle">3</div>
                <div class="line-v"></div>
                <div class="big-circle"></div>
                <div class="line-v"></div>
            </div>
            <div class="step step-4 up">
                <div class="text">
                    Design and Revisions
                </div>
                <div class="small-circle">4</div>
                <div class="line-v"></div>
                <div class="big-circle"></div>
                <div class="line-v"></div>
            </div>
            <div class="step step-5 down">
                <div class="text">
                    Development, Test and QA
                </div>
                <div class="small-circle">5</div>
                <div class="line-v"></div>
                <div class="big-circle"></div>
                <div class="line-v"></div>
            </div>
            <div class="step step-6 up">
                <div class="text">
                    Project Goes Live
                </div>
                <div class="small-circle">6</div>
                <div class="line-v"></div>
                <div class="big-circle"></div>
            </div>
        </div>
    </div>

    <div id="make-it-happen">
        <div class="section-title">
            <div class="title-wrapper">
                <h4>MAKE IT HAPPEN</h4>
                <div class="title-underline"></div>
            </div>
        </div>
        <p>
            You have an Idea, business or just want to update your current website.<br/>
            Take the first step to your brand new digital identity!
        </p>
        <div class="button-wrapper">
            <a href="/contacts" title="SEND YOUR INQUIRY" class="btn-style-fill">SEND YOUR INQUIRY</a>
        </div>
    </div>
</div>