<header>
    <div id="Nav-wrapper">

        <div id="Logo">
            <a href="/" title="Asen Sokolov">
                <img src="assets/img/as-logo.png" alt="AsenSokolov.com"/>
            </a>
        </div>

        <div id="Nav">

            <div class="nav-btn">
                <a href="javascript:void(0);" ng-click="showNav = !showNav" ng-class="{'close-nav' : showNav}">
                    <i class="icons-menu-plus"></i>
                </a>
            </div>

            <ul data-ng-controller="navigation as vm" ng-show="showNav">
                <li data-ng-class="vm.isCurrent(r)" data-ng-repeat="r in vm.navRoutes">
                    <a href="{{r.url}}" title="{{r.config.title}}">{{r.config.settings.content}}</a>
                </li>
            </ul>

        </div>
        <div class="clr"></div>
    </div>

    <cover-image data-ng-controller="coverImageController"></cover-image>

</header>